/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .header .icon-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Summary Report Section */
  .summary-report {
    margin-top: 20px;
    text-align: center;
  }
  
  .summary-report h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  /* Chart Container */
  .chart-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  